# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [ ]:
print("Eu sou Minerador de Dados!")

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [ ]:
4+9

In [ ]:
10-8

In [ ]:
4*4

In [ ]:
8/2

3) Imprima o tipo de um determinado valor inteiro.

In [ ]:
type(10)

4) Converta o valor passado anteriormente para o tipo float

In [ ]:
float(10)

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [ ]:
str(100.0)

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [ ]:
# Arredonde o valor 2.898

var1 = round(2.898)
print(var1)

# Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

var2 = round(2.4545455,4) 
print(var2)

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [ ]:
# Defina uma variável com o seu nome e imprima o seu valor.

nome = "Bruno"
nome

In [ ]:
# Imprima o tipo dessa variável.

type(nome)

In [ ]:
# Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.

nome = nome + " " +"Cassilhas"
nome

In [ ]:
# Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

email, idade = "bruno_cassilhas@hotmail.com", 27
email, idade

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [ ]:
# Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

# R: Não dá para ser criada uma variável com esse nome, pois se trata de uma palavra reservada do Python.

break = 10

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [ ]:
# Defina uma variavel com a string: "Python é uma maldição!" e imprima

pyt = "Python é uma maldição!"
pyt

In [ ]:
# Imprima o primeiro caracter da variavel.

pyt[0]

In [ ]:
# Imprima os valores do primeiro caracter até o 6.

print(pyt[:6])

In [ ]:
# Faça a contagem de todos os caracteres utilizando uma única linha de comando.

len(pyt)

In [ ]:
# Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
# "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."

var = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
var.count("dados")

In [ ]:
# Substitua o primeiro caracter da frase acima para maiúsculo

var.capitalize()

In [ ]:
# Quebre as palavras da frase separado por virgula, criando uma lista.

var.split(",")

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [ ]:
# Cria uma lista de valores inteiros com o nome idades.

idades = [8, 9, 17, 29, 40, 55]

In [ ]:
# Imprima apenas segundo elemento da lista.

idades[1]

In [ ]:
# Imprima a contagem de valores da lista.

len(idades)

In [ ]:
# Substitua o valor do segundo elemento da lista e imprima o resultado.

idades[1] = 10
idades

In [ ]:
# Imprima apenas os valores do segundo elemento em diante.

idades[1:]

In [ ]:
# Remova qualquer elemento da lista e imprima o resultado.

idades.remove(40)
idades

In [164]:
# Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000

salarios = [900, 1200, 1500, 800, 12587, 10000]

In [165]:
# Verifique se contém o valor 10000 na lista de salarios.

10000 in salarios

True

In [169]:
# Imprima o menor e maior valor da lista.

print(min(salarios))
print(max(salarios))

800
12587

In [170]:
# Adicione o valor 7000 a lista.

salarios.insert(0,7000)
salarios

[7000, 900, 1200, 1500, 800, 12587, 10000]

In [171]:
# Extenda a lista com dois novos elementos utilizando apenas um método.

salarios.extend([850,1000])
salarios

[7000, 900, 1200, 1500, 800, 12587, 10000, 850, 1000]

In [172]:
# Imprima o índice do elemento de valor 800 da lista de salarios.

salarios.index(800)

4

In [176]:
# Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

#Crescente:
salarios.sort()
salarios

[800, 850, 900, 1000, 1200, 1500, 7000, 10000, 12587]

In [177]:
#Decrescente:
salarios.sort(reverse=True)
salarios

[12587, 10000, 7000, 1500, 1200, 1000, 900, 850, 800]